<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimall.content.mapper.NoteCollectMapper">

    <insert id="insert">
        INSERT INTO t_note_collect (note_id, user_id) VALUES (#{noteId}, #{userId})
    </insert>

    <delete id="delete">
        DELETE FROM t_note_collect WHERE note_id = #{noteId} AND user_id = #{userId}
    </delete>

    <select id="countByNote" resultType="int">
        SELECT COUNT(*) FROM t_note_collect WHERE note_id = #{noteId}
    </select>

    <select id="listCollectedNoteIds" resultType="long">
        SELECT note_id FROM t_note_collect
        WHERE user_id = #{userId}
        AND note_id IN
        <foreach collection="noteIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
